
@{
    ViewBag.Title = "TeacherInfo";
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin2.cshtml";
}
<script type="text/javascript" language="javascript">
    function newPassW(id) {
        var str = id.toString();
        document.getElementById("inputpwd_" + str).value = prompt("请输入新密码", "");
    } 
    function TeacherDel(id) {
        if (confirm("确认删除该账户吗？"))
        {
            alert("删除成功");
            window.location.href = "TeacherDel/" + id.toString();
        }
    }
    function Search(){
        window.location.href = "?Search=" + document.getElementById("search").value;
    }
</script>

<!-- header -->
<div class="container" style=" width:90%; margin:20px; border-radius:3px 3px; border:inset;border-width:1px; border-color:#f7f7f7;">
    <h2>教师信息管理</h2>
</div>
<!-- header2 -->
<div class="container" style=" padding:5px; width:90%; background-color:#f0f0f0; margin:20px; border-radius:3px 3px; border:inset;border-width:1px; border-color:#f7f7f7;">
    <div style="display:inline">
        <div class="input-group" style="float:left;width:45%;">
            <span class="glyphicon glyphicon-search input-group-addon"></span>
            <input type="text" class="form-control" placeholder="教工号/姓名" style="display:inline;" id="search">
        </div>
    </div>

    <p style="display:inline;margin-right:5px;font-size:20px;line-height:inherit">每页显示</p>
    <select style="height:25px"  id="select" onchange="loadPagination()">
        <option value="5">5</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <button type="button" class="btn btn-primary" onclick="Search()" style="float:right;background-color:#5ab4ac;color:white;border:none">
        搜索
    </button>
</div>
<!-- body -->
<div class="container" style=" padding:5px; width:90%; background-color:#f0f0f0; margin:20px; border-radius:3px 3px; border:inset;border-width:1px; border-color:#f7f7f7;">
	<table class="table" id="tableData">
		<thead>
			<tr>
				<td>教师列表</td>
				<td></td>
				<td></td>
				<td>
					<a class="glyphicon glyphicon-plus-sign" href="/Admin/TeacherCreate" style="color:#5ab4ac">新建账户</a>
				</td>
			</tr>
			<tr>
				<th>教工号</th>
				<th>姓名</th>
				<th>电子邮箱</th>
				<th>
				</th>
			</tr>

		</thead>

		<!--from database-->
		<tbody id="tbody1">
			@foreach (var teacher in ViewBag.teacherlist) {
				<tr></tr>
			}
		</tbody>
	</table>
	<ul class="pagination" id="pagination"></ul>
</div>
<script>
	 function loadPagination() {
		var tabledataCount = document.getElementById("tableData").rows.length-2;
	//	alert(tabledata.rows.length);
		var index = document.getElementById("select").selectedIndex;
		var pageRow = document.getElementById("select").options[index].value;
		var pageCount = tabledataCount / pageRow;
		var ul = document.getElementById("pagination");
		 ul.innerHTML = "";
		ul.innerHTML += "<li class='previous'><a>&laquo;</a></li>";
		for (var i = 1; i < pageCount+1; i++) {
			ul.innerHTML += "<li id='li"+i+"'><a  onclick='f("+i+")'>"+i+"</a></li>";
		}
		ul.innerHTML += "<li class='next'><a>&raquo;</a></li>";
	//	alert(ul.innerHtml);
		f(1);
	}
	function f(n) {
		var tabledataCount = document.getElementById("tableData").rows.length - 2;
		var tbody = document.getElementById("tbody1");
		var index = document.getElementById("select").selectedIndex;
		var pageRow = document.getElementById("select").options[index].value;
		var arr1 = new Array();

		//alert(tbody.rows[0].cells[1].innerHTML);
		//第 n 次 第
		var list = @Html.Raw(Json.Encode(ViewBag.teacherlist));
		tbody.innerHTML = "";
		for (var j = 0; j < pageRow; j++) {
			var row = tbody.insertRow(0);
			cell = row.insertCell(0);
			cell.innerHTML = list[(n-1) *pageRow+ j].account;
			cell = row.insertCell(1);
			cell.innerHTML = list[(n-1) *pageRow+ j].teacher_name;
			cell = row.insertCell(2);
			cell.innerHTML = list[(n - 1) * pageRow + j].email;
			cell = row.insertCell(3);
			cell.innerHTML = "<a href='TeacherInfoMod/"+list[(n-1)*pageRow+j].id+"'>修改</a>"
		}
	}
	window.onload = loadPagination();
</script>