
@{
    ViewBag.Title = "NowSmnDisplay";
    Layout = "~/Views/Shared/SMobileLayout/_SMobileLayout4.cshtml";

    ViewBag.group1 = "1-1";
    ViewBag.group2 = "1-9";
    ViewBag.group3 = "1-4";

    //websoc展示同学提问与何组正在进行展示
}
<script>
        var ws;
        $().ready(function () {
            $('#conn').click(function () {
                ws = new WebSocket('ws://' + window.location.hostname + ':' + window.location.port + '/api/wsconn?user=' + $("#user").val());
                $('#msg').append('<p>正在连接</p>');

                ws.onopen = function () {
                    $('#msg').append('<p>已经连接</p>');
                }
                ws.onmessage = function (evt) {
                    $('#msg').append('<p>' + evt.data + '</p>');
                }
                ws.onerror = function (evt) {
                    $('#msg').append('<p>' + JSON.stringify(evt) + '</p>');
                }
                ws.onclose = function () {
                    $('#msg').append('<p>已经关闭</p>');
                }
            });

            $('#close').click(function () {
                ws.close();
            });

            $('#send').click(function () {
                if (ws.readyState == WebSocket.OPEN) {
                    ws.send($("#to").val() + "|" + $('#content').val());
                }
                else {
                    $('#tips').text('连接已经关闭');
                }
            });

        });
</script>

<div class="row" style="background-color:#ffffff;width:100%">
	<h3 style="text-align:center">Seminar_Name</h3>
	<p id="groupDis" style="display:inline;color:orangered;margin-left:3em">当前展示小组：2-1</p>
	<p id="questionDis"style="float:right;display:inline;color:green">已有j位同学提问</p>
</div>
<!--需要 上面得数据要数组！ 小组可以是报名该次讨论课小组全部的信息  -->

@for (var i = 0; i < 3@*ViewBag.group.Length*@ /**/
                                                          ; i++)
            {
                <div class="row" style="width:100%;margin-top:2px;background-color:#ffffff">
                        <p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-left:2em;margin-right:3em">第 @i 组:</p>
                        <p style="height:40px;line-height:40px;display:inline;">@Html.Raw(ViewBag.group1)</p>

                </div>
            }
<!--点击该按钮后发出提问请求-->
<div class="row" style="width:100%;text-align:center">
		<button type="button" class="btn btn-primary" style="margin-top:20px;">Q&A</button>
</div>

                <div>
                    <input id="user" type="text" />
                    <input id="conn" type="button" value="连接" />
                    <input id="close" type="button" value="关闭" /><br />
                    <span id="tips"></span>
                    <input id="content" type="text" />
                    <input id="send" type="button" value="发送" /><br />
                    <input id="to" type="text" />目的用户
                    <div id="msg">
                    </div>
                </div>

<script>
	//修改 第i组展示中
	function modNowDisGroup(mes) {
		var obj = document.getElementById("groupDis");
		obj.value = "当前展示小组："+mes;
	}
	function modNowQuestion(mes) {
		var obj = document.getElementById("questionDis");
		obj.value = "已有"+mes+"位同学提问";
	}
	function questionTip(mes) {
		alert("请 group 1-3 studentname student_id 提问 ");
	}
	function displayTip(mex) {
		alert("请 group 1-3 开始展示 ");
	}
</script>