
@{
	ViewBag.Title = "ChangePassword";
	Layout = "~/Views/Shared/SMobileLayout/_SMobileLayout4.cshtml";
}

	<div class="input-group input-group-sm" style="margin:10px">
		<span class="input-group-addon">原密码</span>
		<input id="oldpassword" name="oldpassword" type="password" class="form-control">
	</div>
	<div class="input-group input-group-sm" style="margin:10px">
		<span class="input-group-addon">新密码</span>
		<input id="newpassword" name="newpassword" type="password" class="form-control">
	</div>
	<div class="input-group input-group-sm" style="margin:10px">
		<span class="input-group-addon">确认新密码</span>
		<input id="confirmpassword" name="confirmpassword" type="password" class="form-control">
	</div>
	<div>
		<span style="font-family:PingFangSC-regular;font-size:10px;">密码长度8-32位，需包含数字，字母，符号至少两种以上的元素</span><br />
		<button type="button" onclick="checkPassword()" class="btn btn-primary btn-lg btn-block">确认提交</button>
	</div>

	
<script>
	function checkPassword() {
		var oldpw = document.getElementById("oldpassword");
		var newpw = document.getElementById("newpassword");
		var conpw = document.getElementById("confirmpassword");
		if (newpw.value != conpw.value) {
			alert("两次密码输入不一致！");
			return false;
		}
		if (newpw.value.length < 8 || newpw.value.length > 32) {
			alert("长度应在8-32之间");
			return false;
		}
		$.ajax({
			'url': "/StudentMobile/chgpwd",
            'type': "post",
            'data': { oldpw: oldpw.value, newpw: newpw.value },
			success: function (mes) {
				if (mes == "1") {
					alert("原密码输入错误，修改失败");
				}
				window.location.reload();
			},
			error: function () {
				alert("连接失败");
			}
		})
	}
</script>