
@{
    ViewBag.Title = "CheckStuScore";
    Layout = "~/Views/Shared/TMobileLayout/_TMobileLayout4.cshtml";
}
<style>
    ul {
        line-height: 40px;
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    li {
        width: 100%;
        color: #000000;
        border-style: none;
        border-radius: 5px;
        text-align: center;
    }
</style>
@for (int i = 0; i < ViewBag.totalround.Count; i++)
{
        <ul id="r_@i">
            
            <li style="background-color:#1fa5e5;" onclick="f('r_@i')">@{i++;} 第 @i 轮 @{ i--;}</li>
            
            @foreach (var j in ViewBag.totalround[i])
            {
                <li id="r_@i-r_@j.team_serial" style="background-color:#ffffff" onclick="f2('r_@i','r_@i-r_@j.team_serial')">
                    @j.team_serial @j.total_score
                    @foreach(var k in j.list)
                    {
                    <ul>
                        <li>
                            <h4>@k.seminar_name</h4>
                            <p>提问:@k.question_score 展示:@k.presentation_score 报告:@k.report_score</p>
                        </li>
                    </ul>
                    }
                </li>
            }
        </ul>
        <br/>
}
<button class="btn btn-primary btn-block" style="margin-top:40px" onclick="dlMethod()">
    导出成绩
</button>
<script>
    function f(roundId) {
        var liArr = document.querySelectorAll("ul[id='" + roundId + "'] li")
        for (var i = 1; i < liArr.length; i++) {
            if (liArr[i].style.display == "block") {
                liArr[i].style.display = "none";
            }
            else
                liArr[i].style.display = "block";
        }
    }
    function f2(roundId, groupId) {
        var liArr = document.querySelectorAll("ul[id='" + roundId + "'] li[id='" + groupId + "'] ul li")
        for (var i = 0; i < liArr.length; i++) {
            if (liArr[i].style.display == "block") {
                liArr[i].style.display = "none";
            }
            else
                liArr[i].style.display = "block";
        }
    }
    function dlMethod()
    {
        window.location.href = "/TeacherMobile/crtmarkxls/" + @ViewBag.course_id;
    }
</script>