
@{
	ViewBag.Title = "myscore";
	Layout = "~/Views/Shared/TMobileLayout/_TMobileLayout4.cshtml";
}

<body>
    <div class="container" style="width:100%;height :auto;">
        <div class="container" style="background-color:#ffffff;margin:1px;height:100px">
            课程简介
        </div>
        <div class="container" style="background-color:#ffffff;margin:1px;height :auto;">
            <p>
                成绩计算规则<br />
                <span style="font-size:12px;margin-left:40%">
                    课堂展示：<br />
                </span>
                <span style="font-size:12px;margin-left:40%">
                    课堂提问：<br />
                </span>
                <span style="font-size:12px;margin-left:40%">
                    书面报告：
                </span>
            </p>
        </div>
        <div class="container" style="background-color:#ffffff;margin:1px;">
            <p style="height:30px;line-height:30px;display:inline">组队开始时间:</p><br /><br />
            <p style="height:30px;line-height:30px;display:inline">组队截止时间:</p><br />
        </div>
        <div class="container" style="background-color:#ffffff;margin:1px;">
            <span style="margin-left:40%">组队要求</span>
        </div>
        <div class="container" style="background-color:#ffffff;margin:1px;">
            <span>组员基本要求</span><hr />
            <div class="container" style="background-color:#ffffff;">
                <span style="font-size:12px;margin-left:10px;">小组总人数（含组长）:</span><br />
                <span style="font-size:12px;margin-left:10px;">组内选修课程人数：</span><br />
                <span style="font-size:12px;margin-left:40px;">J2EE：</span><br />
                <span style="font-size:12px;margin-left:40px;">.NET：</span><br />
                <span style="font-size:12px;margin-left:10px;">选修课人数要求：</span><br />
                <p style="margin-left:0px;font-size:8px;">
                    均满足指选课人数均需达到要求，<br />
                    满足其一指任意选课人数满足其一即可。
                </p>
            </div>
        </div>
        <div class="container" style="background-color:#ffffff;margin:1px;">
            <span>冲突课程：</span>
            <div class="container" style="background-color:#ffffff;">
                <span style="font-size:12px;margin-left:40px;">J2EE：</span><br />
                <span style="font-size:12px;margin-left:40px;">.NET：</span><br />
                <p style="margin-left:0px;font-size:8px;">
                    选修不同冲突课程的学生不可同组，<br />
                    注意同课程名不同教师为不同课程。
                </p>
            </div>
        </div>
     </div>
</body>