@{
    Layout = "~/Views/Shared/StudentLayout/_StudentLayout4.cshtml";
}
<div style="height:360px;width:100%;overflow:auto">
    @{int cousesize = 0;
        while (cousesize++ < 2)
        {
            <hr />
            
            <ul class="container"style="line-height:40px;list-style-type:none;width:100%;">
                <li id="@cousesize" onclick="f(@cousesize)" style="width:100%;color:#000000;border-style:ridge;border-radius:5px;background-color:#1fa5e5;text-align:center;">
                    课程名
                    <span class="glyphicon glyphicon-align-justify" style="float:right;line-height:40px;margin-right:1em;"></span>
                </li>
                @{ int CSmn = 0;
                    while (CSmn++ < 6)
                    {
                        int temp = 2 + (cousesize - 1) * 6 + CSmn;
                        <li id="@temp" onclick="Go2SpecSmn(@temp)" style="width:100%;list-style-type:none;height:40px;display:none;background-color:#ffffff;text-align:center;border-style:ridge;">
                            课程信息
                            <span class="glyphicon glyphicon-chevron-right" style="float:right;line-height:40px;margin-right:1em;"></span>
                        </li>

                    }
                }
            </ul>

        }
    }
</div>
<div class="container" style="width:100%;">
    <div class="container" style="background-color:#ffffff;margin:1px;">
        <span class="icon-plus" style="font-size:18px;height:40px;line-height:40px;display:inline;"></span>
        <p style="font-size:18px;height:40px;line-height:40px;display:inline;margin-left:4em">新建课程</p>
    </div>
</div>

<script>
	function f(str) {
		for (var i = 0; i < 6; i++) {
			var sub_menu = document.getElementById(@cousesize + (str - 1) * 6 + i);
			var dis_v = sub_menu.style.display;
			if (dis_v == "none") {
				sub_menu.style.display = "block";
			}
			else sub_menu.style.display = "none";
		}
	}
	function Go2SpecSmn(n) {
		window.location.href = "BUSmnInfo?round=" + n/3 +"&count="+n%3;
	}
</script>
