
@{
	ViewBag.Title = "CreateShare";
	Layout = "~/Views/Shared/TMobileLayout/_TMobileLayout4.cshtml";
}
<style>
	div .container {
		margin-top: 2px;
		padding: 0;
		width: 100%;
		background-color: #ffffff;
	}
	p {
		margin-left:2em;
	}
</style>


<div class="container">
	<p style="display:inline;margin-right:2em">共享类型:</p>
	<select id="typeSelect" name="type" class="form-control" style="display:inline;width:12em">
		<option value="team" selected="selected">组队共享</option>
		<option value="seminar">讨论课共享</option>
	</select>
</div>


<div class="container">
	<p style="display:inline;margin-right:2em" >共享对象:</p>
<!-- teacherList-->
	<select id="teacherSelect" name="sub_course_id" class="form-control" style="display:inline;width:12em">
		@{
			<option value="TeacherId" selected="selected">TeacherName</option>
			<option value="TeacherId2">TeacherName2</option>
		}
	</select>
</div>

<button onclick="CreateShare()" class="btn btn-default btn-block" style="background-color:mediumseagreen;margin-top:20px">
	<span class="glyphicon glyphicon-plus" style="float:left"></span>
	确认共享
</button>
<script>
	function CreateShare() {
		if (confirm("确认共享吗？")) {
			var teacherSelect = document.getElementById("teacherSelect");
			var teacherId = teacherSelect.options[teacherSelect.selectedIndex].value;

			var typeSelect = document.getElementById("typeSelect");
			var type = typeSelect.options[typeSelect.selectedIndex].value;

			$.ajax({
				'url': "",
				'type': "post",
				'data': { teacherId: teacherId, type: type },
				success: function () {
					alert("共享成功");
					window.location.reload();
				},
				error: function () {
					alert("共享失败");
					window.location.reload();
				}
			})
		}

		
	}
</script>