
@{
	ViewBag.Title = "InSeminar";
	Layout = "~/Views/Shared/TMobileLayout/_TMobileLayout4.cshtml";
}
<style>
	div {
		margin-top: 2px;
		padding: 0;
	}
</style>
<div class="row" style="background-color:#ffffff;width:100%">
	<p style="text-align:center"> seminar_name</p>
</div>
<div class="row" style="background-color:#ffffff;width:100%">
	<p style="text-align:center"> now display group 2-1</p>
</div>
<div class="row" style="background-color:#ffffff;width:100%">
	<div class="col-sm-4 col-xs-4"><p style="text-align:center">选择小组</p></div>
	<div class="col-sm-8 col-xs-8">
		<select id="group_id" name="group_id" class="form-control" onChange="getData(this.options[this.selectedIndex].value)">
			<option value="1-5">1-5</option>
			<option value="1-3">1-3</option>
			<option value="1-2">1-2</option>
			<option value="1-6" disabled selected="selected">1-6</option>
		</select>
	</div>
</div>
<div class="row" style="background-color:#ffffff;width:100%">
	<div class="col-sm-4 col-xs-1"></div>
	<div class="input-group">
		<span class="input-group-addon">展示分数</span>
		<input type="text" class="form-control">
	</div>
</div>
<div class="row" style="background-color:#ffffff;width:100%">
	<div class="col-sm-4 col-xs-1"></div>
	<div class="input-group">
		<span class="input-group-addon">提问分数</span>
		<input type="text" class="form-control">
	</div>
</div>
<div class="row" style="background-color:#ffffff;width:100%">
	<div class="col-sm-4 col-xs-4"><p style="text-align:center">选择提问人</p></div>
	<div class="col-sm-8 col-xs-8">
		<select id="group_id" name="group_id" class="form-control" onChange="getData(this.options[this.selectedIndex].value)">
			<option value="1-5">1-5</option>
			<option value="1-3">1-3</option>
			<option value="1-2">1-2</option>
			<option value="1-6" disabled selected="selected">1-6</option>
		</select>
	</div>
</div>
<div style="margin-top:40px">
	<button type="button" class="btn btn-primary btn-lg btn-block">保存分数</button>
</div>
<div>
	<button type="button" class="btn btn-primary btn-lg btn-block">抽取提问</button>
</div>
<div>
	<button type="button" class="btn btn-primary btn-lg btn-block">下组展示</button>
</div>


	<script>
		function getData(n) {
			$.ajax({
				'url': "",
				'type': "post",
				'data': { id: n },
				success: function () {
					//修改input框分数的value
				}
			})
		}
	</script>
