
@{
	ViewBag.Title = "MarkReport";
	Layout = "~/Views/Shared/TMobileLayout/_TMobileLayout4.cshtml";
}

@{
	int count = ViewBag.model.list.Count;
	for (int i = 1; i < count + 1; i++) {
		<div class="container" style="width:100%;background-color:#f0f0f0">
			<p style="font-weight:bold;width:20%;height:40px;line-height:40px;display:inline;margin-right:3em">第 @i  组</p>
			<a href="javascript:void(0);" onclick="dlMethod('@ViewBag.model.list[i-1].report_url');" style="cursor:pointer;width:40%;">@ViewBag.model.list[i - 1].report_name</a>
			<input type="text" style="width:3em" maxlength="2" name="@ViewBag.model.list[i-1].id" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/" />
		</div>
	}
}
		<button type="button" class="btn btn-primary" style="width:100%;margin-top:20px;margin-bottom:20px">
			保存修改
		</button>
<script>
	function dlMethod(str) {
		window.location.href = "/File/Download_stu" + str;
	}
</script>
