
@{
	ViewBag.Title = "SetSeminarSerial";
	Layout = "~/Views/Shared/TMobileLayout/_TMobileLayout4.cshtml";
}

<h3 style="text-align:center">成绩设置</h3>
<div class="row" style="margin-top:20px;">
	<p style="display:inline;margin:3em">展示</p>
	<select id="group_id" name="group_id" class="form-control" style="display:inline">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
</div>
<div class="row" style="margin-top:20px;">
	<p style="display:inline;margin:3em">提问</p>
	<select id="group_id" name="group_id" class="form-control" style="display:inline">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
</div>
<div class="row" style="margin-top:20px;">
	<p style="display:inline;margin:3em">报告</p>
	<select id="group_id" name="group_id" class="form-control" style="display:inline">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
</div>
<h3 style="text-align:center">本轮讨论课报名次数</h3>
@{//===============================================
<div class="row" style="margin-top:20px;">
	<p style="display:inline;margin:3em">2016-1</p>
	<select id="group_id" name="group_id" class="form-control" style="display:inline">
		@{
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		}
	</select>
</div>
}