
@{
    ViewBag.Title = "ShareKlassSet";
    Layout = "~/Views/Shared/TMobileLayout/_TMobileLayout4.cshtml";
}
<style>
	div .row {
		margin-top: 10px;
		padding: 0;
		width: 100%;
		background-color: #ffffff;
	}

	p {
		margin-left: 2em;
	}
	ul {
		line-height: 40px;
		list-style-type: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	li {
		width: 100%;
		color: #000000;
		border-style:inset;
		border-color:#f0f0f0;
		border-radius: 5px;
		text-align: center;
	}
</style>
<!-- ======以下是两个范例====== -->
<div class="row">
	<ul id="shareId">
		<li onclick="f('shareId')" style="background-color:#1fa5e5;">(CourseName) TeacherName</li>
		<li><p>共享类型： shareType </p></li>
		<li><p>共享情况： shareStatus </p></li>
		<li><button class="btn btn-default" onclick="cancelShare('shareId')" style="float:right;background-color:orangered">取消共享</button></li>
	</ul>
</div>
<div class="row">
	<ul id="shareId">
		<li onclick="f('shareId')" style="background-color:#1fa5e5;">(CourseName) TeacherName</li>
		<li><p>共享类型： shareType </p></li>
		<li><p>共享情况： shareStatus </p></li>
		<li><button class="btn btn-default" onclick="cancelShare('shareId')" style="float:right;background-color:orangered">取消共享</button></li>
	</ul>
</div>
<div class="row">
	<button onclick="window.location.href=''" class="btn btn-default btn-block" style="background-color:forestgreen">
		<span class="glyphicon glyphicon-plus" style="float:left"></span>
		新增共享
	</button>
</div>

<script>
	function cancelShare(shareId) {
		if (confirm("确认取消共享吗?")) {
			$.ajax({
				'url': "",
				'type': "post",
				'data': { shareId: shareId },
				success: function () {
					alert("取消共享成功");
					window.location.reload();
				},
				error: function () {
					alert("操作失败");
					window.location.reload();
				}
			})
		}
	}
	function f(shareId) {
		var liArr = document.querySelectorAll("ul[id='" + shareId + "'] li")
		for (var i = 1; i < liArr.length; i++) {
			if (liArr[i].style.display == "block") {
				liArr[i].style.display = "none";
			}
			else
				liArr[i].style.display = "block";
		}
	}
</script>
