
@{
    ViewBag.Title = "TeacherMyCourse";
    Layout = "~/Views/Shared/TMobileLayout/_TMobileLayout4.cshtml";
}
<style>
	ul {
		margin: 0;
		padding: 0;
	}
</style>
<!--与学生MyCourse相似 多3个跳转-->
<div class="container" style="margin-top:20px;width:100%;margin:0;padding:0;">
	@{ //给个TeacherCourseInfoList 修改下方courseName
		//for (int i = 0; i < ViewBag.course.Count; i++) {
	<ul id="CourseName" style="line-height:40px;list-style-type:none;width:100%;">
		<li onclick="f('CourseName')" style="width:100%;color:#000000;border-style:ridge;border-radius:5px;background-color:#1fa5e5;text-align:center;">
			CourseName
			<span class="glyphicon glyphicon-align-justify" style="float:right;line-height:40px;margin-right:1em;"></span>
		</li>
		<li onclick="window.location.href=''" style="width:100%;list-style-type:none;height:40px;display:none;background-color:#ffffff;text-align:center;border-style:ridge;">
			课程信息
			<span class="glyphicon glyphicon-chevron-right" style="float:right;line-height:40px;margin-right:1em;"></span>
		</li>
		<li onclick="window.location.href='/TeacherMobile/CourseInfo'" style="width:100%;list-style-type:none;height:40px;display:none;background-color:#ffffff;text-align:center;border-style:ridge;">
			班级信息
			<span class="glyphicon glyphicon-chevron-right" style="float:right;line-height:40px;margin-right:1em;"></span>
		</li>
		<li onclick="window.location.href=''" style="width:100%;list-style-type:none;height:40px;display:none;background-color:#ffffff;text-align:center;border-style:ridge;">
			讨论课设置
			<span class="glyphicon glyphicon-chevron-right" style="float:right;line-height:40px;margin-right:1em;"></span>
		</li>
		<li onclick="window.location.href=''" style="width:100%;list-style-type:none;height:40px;display:none;background-color:#ffffff;text-align:center;border-style:ridge;">
			共享设置
			<span class="glyphicon glyphicon-chevron-right" style="float:right;line-height:40px;margin-right:1em;"></span>
		</li>
		<li onclick="window.location.href='/TeacherMobile/CheckStuGroup'" style="width:100%;list-style-type:none;height:40px;display:none;background-color:#ffffff;text-align:center;border-style:ridge;">
			学生组队
			<span class="glyphicon glyphicon-chevron-right" style="float:right;line-height:40px;margin-right:1em;"></span>
		</li>
		<li onclick="window.location.href='/TeacherMobile/CheckStuScore'" style="width:100%;list-style-type:none;height:40px;display:none;background-color:#ffffff;text-align:center;border-style:ridge;">
			学生成绩
			<span class="glyphicon glyphicon-chevron-right" style="float:right;line-height:40px;margin-right:1em;"></span>
		</li>
	</ul>
	//	}
	}
</div>
<div style="margin-top:20px">
	<button type="button" class="btn btn-default btn-lg btn-block" onclick="window.location.href=''">
		<span class="glyphicon glyphicon-plus" style="float:left"></span>
		新建课程
	</button>
</div>

<script>
	function f(courseName) {
		var liArr = document.querySelectorAll("ul[id='" + courseName + "'] li")
		for (var i = 1; i < liArr.length; i++) {
			if (liArr[i].style.display == "block") {
				liArr[i].style.display = "none";
			}
			else
				liArr[i].style.display = "block";
		}
	}

	function ChangeHref(n) {
		window.location.href = "/StudentMobile/KlassSeminar/" + n;
	}
</script>

