
@{
    ViewBag.Title = "TeacherInfoMod";
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin2.cshtml";
}
<!-- header -->
<div class="container" style=" width:90%; margin:20px; border-radius:3px 3px; border:inset;border-width:1px; border-color:#f7f7f7;">
    <h2>修改教师信息</h2>
</div>

<!-- body -->
<form class="bs-example bs-example-form" role="form" method="post">
    <div class="container" style=" width:90%; margin:20px; border-radius:3px 3px; border:inset;border-width:1px; border-color:#f7f7f7;">
        <div style="padding: 30px 30px">

            <div class="input-group">
                <span class="input-group-addon">教师姓名</span>
                <input type="text" class="form-control" name="name" value=@ViewBag.uimod.name>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">教工号</span>
                <input type="text" class="form-control" name="academic_id" value=@ViewBag.uimod.academic_id>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">电子邮箱</span>
                <input type="text" class="form-control" name="email" value=@ViewBag.uimod.email>
            </div>

        </div>
    </div>
    <div class="container" style="width:90%;margin-top:40px;text-align:center;">
        <button type="submit" class="btn btn-primary btn-lg" onclick="mod()" style="margin-right:20px;background-color:#5ab4ac;border:none;width:20%">修改</button>
        <button type="button" class="btn btn-primary btn-lg" style="background-color:#e1e1e1;border:none;width:20%">取消</button>
    </div>
</form>
<!--前端先弹 / 后端先改 -->
<script type="text/javascript">
    function mod() {
        alert("修改成功");
    }
</script>