<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>@ViewBag.Title</title>
</head>


<body bgcolor="66CCFF">
    <h1>Login Page</h1>
    <p>Input</p>
    @{
        if (IsPost)
        {
            <p>POST</p>
            <form action="" method="post">
                user: <input type="text" name="user" value="@Session["user"]"> <br>
                pswd: <input type="text" name="pswd"> <br>

                <input type="submit" value="提交">
            </form>
        }
        else
        {<form action="" method="post">
                user: <input type="text" name="user"> <br>
                pswd: <input type="text" name="pswd"> <br>

                <input type="submit" value="提交">
            </form>
        }
    }
    <p>{{error_type}}</p>
    @RenderBody()
</body>
</html>