<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>gg</title>
    <script>
        function dos(){
            var data = new FormData()
            data.append('userfile',document.getElementById('testFile').file)
            console.log(data)
            console.log(data.get('userfile'))
        };
    </script>

</head>
<body>
    hello, Files.//action="uploadfile"

        <input id="testFile" type="file" name="afile" />
        <input id="testSubmit" onclick="dos()" type="submit" value="上传" />

    <p> </p>
    <img src="~/Files/mafu.jpeg" height="200" width="200" />
    <p><a href="~/Files/SJTU_template.pdf" download="SJTU_template">点击下载(html)</a></p>
    <!-- 需要手动右键下载 暂未尝试后端发放 -->
    <p><a href="Download?fileName=SJTU_template.pdf">点击下载(MVC)</a></p>
    <p><a href="Download?fileName=name.gif">点击下载(MVC)</a></p>
    <!-- 后端发放 看上去能直接用 浏览器直接在文件名正常 迅雷显示为download-->
</body>
</html>


