@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

<p>Hello from our view Template!</p>
@{
    if (@Session["user"] != "")
    {
    <p>@Session["user"]</p>
    }
}