
@{
	ViewBag.Title = "BChangeEnrollSmn";
	Layout = "~/Views/Shared/SMobileLayout/_SMobileLayout4.cshtml";
}

<div class="container" style="margin-top:20px;width:100%">
		@{
			var temp = 0;
			while (temp < 6) {
				<div class="container" style="margin-top:10px;height:50px;background-color:#ffffff">
					<p style="line-height:50px;padding:0px 1em;display:inline">第 @temp 组：</p>
					<a id="@temp" onclick="enroll(@temp)">可报名</a>
				</div>
				temp++;
			}
		}
</div>
<div class="container" style="margin-top:20px;width:100%">
	<button type="button" class="btn btn-primary" value="取消报名" style="background-color:#ed5858;width:100%;margin-top:20px;" >
		取消报名
	</button>
</div>
<script>
	function enroll(n) {

		if (confirm("确认更改报名信息吗？")){
			var temp = document.getElementById(n).innerHTML;
			$.ajax({
				'url': 'Enroll',
				'type': 'post',
				'data': { str: temp },
				'success': function (mes) {
					if (mes !== "success") {
						alert("更改报名成功");
					}
					else
						alert(mes);
					window.location.reload();
				},
				'error': function (mes) {
					alert("连接错误");
					window.location.reload();
				}
			})
		}
	}
</script>

