
@{
	ViewBag.Title = "BEnrollSmn";
	Layout = "~/Views/Shared/SMobileLayout/_SMobileLayout4.cshtml";
}
<!--需要讨论课的全部信息 还有该组信息 是否提交PPT，最好有PPT名字-->
<div class="container" style="width:100%">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">轮次:</p>
		<p style="height:40px;line-height:40px;display:inline;">第二轮</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#f5f5f5">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">主题:</p>
		<p style="height:40px;line-height:40px;display:inline;">业务流程分析</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">要求:</p>
		<p style="height:40px;line-height:40px;">哈哈哈哈哈哈哈哈哈哈哈哈哈啊哈哈哈哈哈</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#f5f5f5">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">课程情况:</p>
		<p style="height:40px;line-height:40px;display:inline;">未开始</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">报名:</p>
		<p style="height:40px;line-height:40px;display:inline;">2016-(1)第3组</p>
		<a href="BChangeEnrollSmn">修改</a>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">PPT:</p>
		<p style="height:40px;line-height:40px;display:inline;">已提交</p>
	</div>
</div>
<div class="container" style="width:100%;margin-top:30px;">
	<form type="file" enctype="multipart/form-data" name="pptFile" id="pptFile" method="post">
		<input type="file" name="file" id="pic" />
		<button type="button" class="btn btn-primary" value="提交" style="width:100%;margin-top:20px;" onclick="uploadFile();">
			PPT提交
		</button>
	</form>
</div>
<script>
	function uploadFile() {
		var form = document.getElementById('pptFile'),
			formData = new FormData(form);
		$.ajax({
			url: "",
			type: "post",
			data: formData,
			processData: false,
			contentType: false,
			success: function (res) {
				if (res) {
					alert("上传成功！");
				}
				console.log(res);
				$("#pic").val("");
				$(".showUrl").html(res);
				$(".showPic").attr("src", res);
			},
			error: function (err) {
				alert("网络连接失败,稍后重试", err);
			}
		})
	}
</script>
