
@{
	ViewBag.Title = "BUSmnInfo";
	Layout = "~/Views/Shared/SMobileLayout/_SMobileLayout4.cshtml";
}
<div class="container" style="width:100%">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">轮次:</p>
		<p style="height:40px;line-height:40px;display:inline;">第一轮</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#f5f5f5">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">主题:</p>
		<p style="height:40px;line-height:40px;display:inline;">代码检查</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">要求:</p>
		<p style="height:40px;line-height:40px;">哈哈哈哈哈哈哈哈哈哈哈哈哈啊哈哈哈哈哈</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#f5f5f5">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">课程情况:</p>
		<p style="height:40px;line-height:40px;display:inline;">未开始</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">报名开始时间:</p>
		<p style="height:40px;line-height:40px;display:inline;">2018.10.01 12：00</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">报名截止时间:</p>
		<p style="height:40px;line-height:40px;display:inline;">2018.10.7 24：00</p>
	</div>
</div>
<div class="container" style="width:100%;margin-top:30px;">
	<button type="button" class="btn btn-primary"  style="width:100%" onclick="window.location.href='BUEnrollSmn'">
		报名本次讨论课
	</button>
</div>
