
@{
	ViewBag.Title = "ChsSpecSeminar";
	Layout = "~/Views/Shared/SMobileLayout/_SMobileLayout4.cshtml";
}
<div class="container" style="margin-top:20px;width:100%;margin:0;padding:0;">
	<!--4 是轮次 3是每轮的讨论课门数-->

	@{int round = 0;
		while (round++ < 4) {
			<hr />
			<ul style="line-height:40px;list-style-type:none;width:100%;">
				<li id="@round" onclick="f(@round)" style="width:100%;color:#000000;border-style:ridge;border-radius:5px;background-color:#1fa5e5;text-align:center;">
					第 @round  轮
					<span class="glyphicon glyphicon-align-justify" style="float:right;line-height:40px;margin-right:1em;"></span>
				</li>
				@{ int CSmn = 0;
					while (CSmn++ < 3) {
						int temp = 4 + (round - 1) * 3 + CSmn;
						<li id="@temp" onclick="Go2SpecSmn(@temp)" style="width:100%;list-style-type:none;height:40px;display:none;background-color:#ffffff;text-align:center;border-style:ridge;">
							讨论课名
							<span class="glyphicon glyphicon-chevron-right" style="float:right;line-height:40px;margin-right:1em;"></span>
						</li>

					}
				}
			</ul>
		}
	}
</div>
	<script>
	function f(str) {
		for (var i = 0; i < 3; i++) {
			var sub_menu = document.getElementById(@round + (str - 1) * 3 + i);
			var dis_v = sub_menu.style.display;
			if (dis_v == "none") {
				sub_menu.style.display = "block";
			}
			else sub_menu.style.display = "none";
		}
	}
	function Go2SpecSmn(n) {
		window.location.href = "BUSmnInfo?round=" + n/3 +"&count="+n%3;
	}
	</script>
