
@{
	ViewBag.Title = "KlassSeminar";
	Layout = "~/Views/Shared/SMobileLayout/_SMobileLayout4.cshtml";
}
<!-- Content Pane-->
<div style="height:600px;width:100%;overflow:auto">

	<div class="container" style="width:100%">
		<div class="container" style="background-color:#ffffff">
			<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">轮次:</p>
			<p style="height:40px;line-height:40px;display:inline;">第一轮</p>
		</div>
	</div>

	<div class="container" style="width:100%">
		<div class="container" style="background-color:#f5f5f5">
			<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">主题:</p>
			<p style="height:40px;line-height:40px;display:inline;">代码检查</p>
		</div>
	</div>

	<div class="container" style="width:100%">
		<div class="container" style="background-color:#ffffff">
			<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">课次序号:</p>
			<p style="height:40px;line-height:40px;display:inline;">第1次</p>
		</div>
	</div>

	<div class="container" style="width:100%">
		<div class="container" style="background-color:#ffffff">
			<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">要求:</p>
			<p style="height:40px;line-height:40px;">哈哈哈哈哈哈哈哈哈哈哈哈哈啊哈哈哈哈哈</p>
		</div>
	</div>

	<div class="container" style="width:100%">
		<div class="container" style="background-color:#ffffff">
			<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">课程情况:</p>
			<p style="height:40px;line-height:40px;display:inline;">未开始/正进行/已完成</p>
			<a href="NowSmnPPT">报名情况</a>
		</div>
	</div>
	@{
		short seminar_status = 0;//讨论课状态
		bool erolled = true;
		bool ddl = true;
		if (seminar_status == 0) {//讨论课未开始
			if (!erolled) {<div class="container" style="width:100%">
					<div class="container" style="background-color:#ffffff">
						<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">报名开始时间:</p>
						<p style="height:40px;line-height:40px;display:inline;">2018.10.01 12：00</p>
					</div>
				</div>
				<div class="container" style="width:100%">
					<div class="container" style="background-color:#ffffff">
						<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">报名截止时间:</p>
						<p style="height:40px;line-height:40px;display:inline;">2018.10.7 24：00</p>
					</div>
				</div>
				<div class="container" style="width:100%;margin-top:30px;">
					<button type="button" class="btn btn-primary" style="width:100%" onclick="window.location.href='BUEnrollSmn'">
						报名本次讨论课
					</button>
				</div>
			}
			else {
				<div class="container" style="width:100%">
					<div class="container" style="background-color:#ffffff">
						<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">报名：</p>
						<p style="height:40px;line-height:40px;display:inline;">2016(1) 第3组</p>
					</div>
				</div>

				<div class="container" style="width:100%">
					<div class="container" style="background-color:#ffffff">
						<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">PPT:</p>
						<p style="height:40px;line-height:40px;display:inline;">已提交</p>
					</div>
				</div>

				<div class="container" style="width:100%;margin-top:30px;">
					<form type="file" enctype="multipart/form-data" name="pptFile" id="pptFile" method="post">
						<input type="file" name="file" id="pic" />
						<button type="button" class="btn btn-primary" value="提交" style="width:100%;margin-top:20px;" onclick="uploadFile();">
							PPT提交
						</button>
					</form>
				</div>
			}
		}
		else if (seminar_status == 1 || seminar_status == 3) {//讨论课正在进行或处于暂停
			if (!erolled) {
				<div class="container" style="width:100%;margin-top:30px;">
					<button type="button" class="btn btn-primary" style="width:100%" onclick="window.location.href='NowSmnDisplay'">
						进入讨论课
					</button>
				</div>
			}
			else {
				<div class="container" style="width:100%">
					<div class="container" style="background-color:#ffffff">
						<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">报名：</p>
						<p style="height:40px;line-height:40px;display:inline;">2016(1) 第3组</p>
					</div>
				</div>

				<div class="container" style="width:100%">
					<div class="container" style="background-color:#ffffff">
						<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">PPT:</p>
						<p style="height:40px;line-height:40px;display:inline;">已提交</p>
					</div>
				</div>

				<div class="container" style="width:100%;margin-top:30px;">
					<form type="file" enctype="multipart/form-data" name="pptFile" id="pptFile" method="post">
						<input type="file" name="file" id="pic" />
						<button type="button" class="btn btn-primary" value="提交" style="width:100%;margin-top:20px;" onclick="uploadFile();">
							PPT提交
						</button>
					</form>
				</div>
				<div class="container" style="width:100%;margin-top:30px;">
					<button type="button" class="btn btn-primary" style="width:100%" onclick="window.location.href='NowSmnDisplay'">
						进入讨论课
					</button>
				</div>
			}
		}
		else if (seminar_status == 2) {
			<!--None-->
			if (erolled) {
				<div class="container" style="width:100%">
					<div class="container" style="background-color:#ffffff">
						<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">报名：</p>
						<p style="height:40px;line-height:40px;display:inline;">2016(1) 第3组</p>
					</div>
				</div>

				<div class="container" style="width:100%">
					<div class="container" style="background-color:#ffffff">
						<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">PPT:</p>
						<p style="height:40px;line-height:40px;display:inline;">已提交</p>
					</div>
				</div>

				if (!ddl) {
					<div class="container" style="width:100%">
						<div class="container" style="background-color:#ffffff">
							<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">书面报告:</p>
							<p style="height:40px;line-height:40px;display:inline;">已提交</p>
						</div>
					</div>

					<div class="container" style="width:100%;margin-top:30px;">
						<form type="file" enctype="multipart/form-data" name="pptFile" id="pptFile" method="post">
							<input type="file" name="file" id="pic" />
							<button type="button" class="btn btn-primary" value="提交" style="width:100%;margin-top:20px;" onclick="uploadFile();">
								书面报告提交
							</button>
						</form>
					</div>
				}
				else {

				}
			}
		}
		else {
			<p style="color:red;font-size:30px;">数据出现错误，请联系管理员</p>
		}
	}
</div>
<!--Button and another-->

<script>
	function uploadFile() {
		var form = document.getElementById('pptFile'),
			formData = new FormData(form);
		$.ajax({
			url: "",
			type: "post",
			data: formData,
			processData: false,
			contentType: false,
			success: function (res) {
				if (res) {
					alert("上传成功！");
				}
				console.log(res);
				$("#pic").val("");
				$(".showUrl").html(res);
				$(".showPic").attr("src", res);
			},
			error: function (err) {
				alert("网络连接失败,稍后重试", err);
			}
		})
	}
</script>