
@{
	ViewBag.Title = "LaterEnrollEndSmnInfo";
	Layout = "~/Views/Shared/SMobileLayout/_SMobileLayout4.cshtml";
}
<!--需要：讨论课的信息已经该组是否交了PPT和书面报告 -->
<div class="container" style="width:100%;margin-top">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">轮次:</p>
		<p style="height:40px;line-height:40px;display:inline;">第一轮</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#f5f5f5">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">主题:</p>
		<p style="height:40px;line-height:40px;display:inline;">代码检查</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">课次:</p>
		<p style="height:40px;line-height:40px;display:inline;">第一次</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#f5f5f5">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">要求:</p>
		<p style="height:40px;line-height:40px;">哈哈哈哈哈哈哈哈哈哈哈哈哈啊哈哈哈哈哈</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">课程情况:</p>
		<p style="height:40px;line-height:40px;display:inline;">已完成</p>
		<a href="NowSmnPPT">报名情况</a>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">PPT:</p>
		<p style="height:40px;line-height:40px;display:inline;">已提交/未提交</p>
	</div>
</div>
<div class="container" style="width:100%">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">书面报告:</p>
		<p style="height:40px;line-height:40px;display:inline;">已提交/未提交</p>
	</div>
</div>

