
@{
	ViewBag.Title = "Login";
	ViewBag.TitleText = "讨论课管理系统登陆";
	Layout = "~/Views/Shared/SMobileLayout/_SMobileLayout1.cshtml";
}

<div class="row" style="margin-top:20px;width:100%">
	<!-- body-->
	<div class="col-xs-2" style="text-align:center;margin:0;padding:0;">

	</div>
	<div class="col-xs-8" style="padding:0;">
		<form class="bs-example bs-example-form" role="form" method="post" action="Activate">
			<div class="input-group">
				<span class="input-group-addon">学号/教工号</span>
				<input type="text" class="form-control">
			</div>
			<div class="input-group" style="margin:20px 0px">
				<span class="input-group-addon">密码</span>
				<input type="password" class="form-control">
			</div>
			<div class="input-group input-group input-group-lg" style="display:inline;">
				<input type="submit" class="btn btn-primary" value="登陆" style="background-color:#1fa5e5;width:200px" />
				<a href="" style="font-size:10px">忘记密码</a>
			</div>
		</form>
	</div>
	<div class="col-xs-2" style="padding:0; height:inherit;">

	</div>
</div>