
@{
    ViewBag.Title = "NowSmnPPT";
    Layout = "~/Views/Shared/SMobileLayout/_SMobileLayout4.cshtml";

	ViewBag.group1= "1-1";
	ViewBag.group2= "1-9";
	ViewBag.group3= "1-4";
	
	ViewBag.pptName1= "1";
	ViewBag.pptName2= "2";
	ViewBag.pptName3= "3";

	ViewBag.pptDownLoadLink1= "11";
	ViewBag.pptDownLoadLink2= "22";
	ViewBag.pptDownLoadLink3= "33";
	}

<!--需要 上面得数据要数组！ 小组可以是报名该次讨论课小组全部的信息 还有他们的PPT -->
@for (var i = 0; i < 3 @*ViewBag.group.Length*@ ; i++) 
{
<div class="container" style="width:100%;margin-top:2px">
	<div class="container" style="background-color:#ffffff">
		<p style="font-weight:bold;height:40px;line-height:40px;display:inline;margin-right:3em">第 @i 组:</p>
		<a href="@ViewBag.pptDownLoadLink1" style="height:40px;line-height:40px;display:inline;"> @Html.Raw(ViewBag.pptName1)</a>
	</div>
</div>
}