
@{
	ViewBag.Title = "StudentLogin";
	Layout = "~/Views/Shared/StudentLayout/_StudentLayout1.cshtml";
}


<div class="row">
	<div class="col-md-4">
	</div>

	<div class="col-md-4">
		<div style="padding: 100px 10px">
			<h2 style="text-align:center">翻转课堂学生登陆</h2>
			<br>
			<form class="bs-example bs-example-form" role="form" method="post">

				<div class="input-group input-group-lg" style="margin:0 auto">
					<input type="text" class="form-control" id="userName" name="userName" placeholder="账户名" style="width:300px" />
				</div>
				<br>
				<div class="input-group input-group-lg" style="margin:0 auto">
					<input type="password" class="form-control" name="userPassword" placeholder="密码" style="width:300px" />
				</div>
				<br>
				<div class="input-group input-group input-group-lg" style="margin:0 auto">
					<input type="submit" class="btn btn-primary btn-lg" value="登陆" style="background-color:#5ab4ac;width:300px" onclick=" validateLogin();"/>
				</div>
			</form>
		</div>
	</div>

	<div class="col-md-4">
	</div>
</div>

<script type="text/javascript">
	function validateLogin() {
		if (document.getElementById("userName").value == "") {
			alert("请输入用户名");
			return false;
        }
        return true;
	}
</script>